<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello, {{userName}} for Vue!</h1>
        <input type="text" v-model="userName">
        <p v-if="userName.length > 9"> Username is too Long</p>
        <button @click="addItem">Add</button>
        <button @click="popItem">Remove</button>
        <p>{{todoList}}</p>
        <ul>
            <li v-for="todo in todoList">
                {{todo}}
            </li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                userName: 'DavidYoon',
                frameworks: ['react', 'vue', 'angular'],
                todoList: []
            },
            methods: {
                addItem() {
                    console.log(this.userName)
                    this.frameworks.push(this.userName)

                },
                popItem() {
                    this.frameworks.pop()
                }
            }
        })

    </script>
</body>
</html>